@charset "utf-8";

/* 전체 제어 */
body {font-family: 'Noto Sans KR',HelveticaNeue-Light, AppleSDGothicNeo-Light,'Malgun Gothic','맑은 고딕', sans-serif;}
ul {margin: 0; padding: 0; list-style: none;}



/* section 1 */
.box1 {
    height: 100vh;
    /* background-color: #ddd; */
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.box1 h2 {
    margin: 0;
    text-indent: -9999px;
    width: 54.010vw;
    height: 9.479vw;
    background-image: url(../images/main_img2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-66%);
    z-index: 100;
}
.box1 img {
    width: 37.760vw;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}
.box1 .img2 {
    z-index: 10;
}
.box1 .main_txt {
    margin-top:40vw;
}
.box1 h3 {
    margin: 0;
    text-align: center;
    font-size: 0.781vw;
    font-weight: 400;
}
.box1 h3:nth-of-type(1) {
    margin-bottom: 0.677vw;
}

/* section 2 */
.box2 {
    height: 100vh;
    /* background-color: #ddd; */
    position: relative;
}
.box2 .sub_txt {
    width: 53.521vw;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
.box2 img {
    width: 38.073vw;   
}
.box2 h2 {
    margin: 0;
    font-size: 4.010vw;
    position: absolute;
    top: 13.802vw; left: 22.656vw;
    z-index: 1000;
}
/* .box2 h2:nth-of-type(2) {
    margin: 0.573vw 0;
    font-size: 1.146vw;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
    display: inline-block;
    position: absolute;
    top: 16vw; left: 45.656vw;
    z-index: 1000;
}
.box2 h2:nth-of-type(3) {
    margin:0;
    font-size: 4.010vw;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
    display: inline-block;
    position: absolute;
    top: 13.5vw; left: 48.856vw;
    z-index: 1000;
} */
.box2 .txt1 {
    width: 85.885vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 3.542vw; left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.box2 .txt1 p {
    font-size: 1.146vw;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.990vw;
}

/* section 3 */
.box3 {
    height: 100vh;
    /* background-color: #f0f0f0; */
    position: relative;
}
.box3 .txt_box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-45%);
    width: 79.375vw;
}
.box3 .txt_box > h2 {
    /* text-align: center; */
    margin-bottom: 2.5vw;
    font-size: 1.2vw;
    padding-left: 1.755vw;
}
.box3 .txt_box > h2 span {
    /* border: 0.134vw solid #000; */
    color: #fff;
    padding: 0.333vw 2vw;
    background-color: #152bff;
}
.box3 .txt_content_box {
    background-color: #fff;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.011),
    0 6.7px 5.3px rgba(0, 0, 0, 0.016),
    0 12.5px 10px rgba(0, 0, 0, 0.02),
    0 22.3px 17.9px rgba(0, 0, 0, 0.024),
    0 41.8px 33.4px rgba(0, 0, 0, 0.029),
    0 100px 80px rgba(0, 0, 0, 0.04);
}
.txt2_box {
    padding-left: 1.755vw;
    padding-top: 2.733vw;
}
.txt3_box {
    padding-right: 1.755vw;
}
.txt4_box {
    padding-left: 1.755vw;
    padding-bottom: 2.733vw;
}
.box3 .txt2_box h2, .box3 .txt3_box h2, .box3 .txt4_box h2 {
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 2.344vw;
    border-bottom: 1px solid #000;
}
.box3 h3 {
    margin: 0;
    font-size: 1.146vw;
    font-weight: 400;
    padding-bottom: 0.5vw;
    padding-left: 1.198vw;
}

.box3 p {
    font-size: 1.146vw;
    font-weight: 400;
}
.box3 h2 span {
    color: #152bff;
}
.box3 .txt2_box {
    overflow: hidden;
}
.box3 .txt3_box {
    overflow: hidden;
}
.box3 .txt4_box {
    overflow: hidden;
}

.box3 .txt2 {
    /* position: absolute;
    bottom: 34.323vw; left: 10.365vw; */
    float: left;
    margin-bottom: 3.188vw;
}
.box3 .txt3 {
    width: 30.073vw;
    /* position: absolute;
    bottom: 19.219vw; right: 10.365vw; */
    float: right;
    margin-bottom: 3.854vw;
}
.box3 .txt4 {
    /* position: absolute;
    bottom: 9.688vw; left: 10.365vw; */
    float: left;
}
.box3 .txt2 .txt2_sbtitle {
    display: flex;
    align-items: flex-end;
}
.box3 .txt3 .txt3_sbtitle {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.box3 .txt4 .txt4_sbtitle {
    display: flex;
    align-items: flex-end;
}
.box3 .txt3 p {
    text-align: right;
    line-height: 1.5;
}

/* section 4 */
.box4 {
    height: 100vh;
    /* background-color: #cacaca; */
}
.box4 .title  {
    width: 29.688vw;
    height: 9.583vw;
    background-image: url(../images/skill_img_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%;
    margin: 0;
    /* padding-top: 7.292vw; */
    text-indent: -9999px;
}
.box4 p {
    margin: 0;
    font-size: 1.146vw;
}
.box4 .txt5 h2, .box4 .txt6 h2 {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.667vw;
    margin-bottom: 0;
    margin-top: 0;
}
.box4 .txt5 {
    margin-left: 11.223vw;
    margin-top: 5.500vw;
    float: left;
}
.box4 .txt5 > h3, .box4 .txt6 > h3 {
    font-size: 1.146vw;
    margin: 1.302vw 0 3.896vw 0;
}
.box4 .txt5 > h2, .box4 .txt5 > h3, .box4 .txt5 > p,
.box4 .txt6 > h2, .box4 .txt6 > h3, .box4 .txt6 > p {
    margin-left: 0.855vw;
}
.box4 .txt6 > p {
    width: 28.438vw;
    line-height: 1.5;   
}
.box4 .skill_content {
    position: relative;
}
.box4 a.on {
    border: 2px solid #eee;
}
.box4 .skill_content .skill_img a {
    display: block;
}
.box4 .skill_content .skill_img a {
    text-decoration: none;
    position: absolute;
    top: 0.829vw;
    z-index: 100;
    text-align: center;
    line-height: 5.365vw;
    width: 5.365vw;
    height: 5.365vw;
    background-color: #fff;
    border-radius: 35%;
    font-size: 1.771vw;
    font-weight: 700;
}
.box4 #skill_content1 {
    width: 38.906vw;
    height: 10.156vw;
    background-image: url(../images/skill_design_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.box4 #skill_content1 .skill_img a:nth-of-type(1) {
    width: 10.677vw;
    left: 0.605vw;
    border-radius: 1.919vw;
    color: #ff9a00;
}
.box4 #skill_content1 .skill_img a:nth-of-type(1) span {
    color: #31a8ff;
    padding-right: 3.438vw;
}
.box4 #skill_content1 .skill_img a:nth-of-type(2) {
    /* width: 5.365vw; */
    left: 13.778vw;
    color: #ff61f6;
}
.box4 #skill_content1 .skill_img a:nth-of-type(3) {
    /* width: 5.365vw; */
    left: 21.578vw;
    color: #9a99ff;
}
.box4 #skill_content1 .skill_img a:nth-of-type(4) {
    /* width: 5.365vw; */
    left: 29.341vw;
    color: #008f90;
}
.box4 .skill_content .click {
    width: 13.385vw;
    height: 0.104vw;
    background-color: #000;
    position: absolute;
    top:3.511vw; left: -0.84vw;
    z-index: 10;
    text-indent: -9999px;
    transition: 0.2s;
}
.box4 #skill_content2 {
    width: 33.490vw;
    height: 10.156vw;
    background-image: url(../images/skill_puble_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0; left: 0vw;
}

.box4 #skill_content2 .skill_img a:nth-of-type(1) {
    /* width: 5.365vw; */
    left: 0.605vw;
    color: #ff4212;
    font-size: 1.406vw;
}

.box4 #skill_content2 .skill_img a:nth-of-type(2) {
    /* width: 5.365vw; */
    left: 9.848vw;
    color: #0092f1;
    font-size: 1.406vw;
}
.box4 #skill_content2 .skill_img a:nth-of-type(3) {
    width: 10.677vw;
    left: 18.748vw;
    border-radius: 1.919vw;
    color: #137a90;
    font-size: 1.406vw;
}
.box4 #skill_content2 .skill_img a:nth-of-type(3) span {
    color: #ffb400;
    padding-right: 1.927vw;
}

.box4 .txt6 {
    margin-left: 59.740vw;
    margin-top: 5.500vw;
}
.box4 #skill_content2 .click {
    width: 8.289vw;
}

/* section 5 */
.box5 {
    height: 100vh;
    /* background-color: #cacaca; */
}
.box5 .title {
    width: 60.729vw;
    height: 12.917vw;
    background-image: url(../images/experience_img_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%;
    margin: 0;
    /* padding-top: 5.208vw; */
    text-indent: -9999px;
}
.box5  h3 {
    width: 11.771vw; height: 2.760vw;
    background-color: #000;
    line-height: 2.760vw;
    color: #fff;
    font-weight: 400;
    font-size: 0.964vw;
    margin: 0;
    float: left;
    padding: 0 0.673vw;
    box-sizing: border-box;
    margin-right: 1.823vw;
    margin-bottom: 1.358vw;
}
.box5 .txt7 h3 {
    background-color: #152bff;
}
.box5 .txt7 , .box5 .txt8, .box5 .txt9, .box5 .txt10, .box5 .txt11, .box5 .txt12 {
    margin-left: 10.365vw;
    overflow: hidden;
}
.box5 p {
    height: 2.760vw;
    line-height: 2.760vw;
    padding: 0 0.573vw;
    border: 1px solid #000;
    margin: 0;
    margin-left: 0.625vw;
    margin-bottom: 1.358vw;
}
.box5 .p_txt1, .box5 .p_txt2, .box5 .p_txt3, .box5 .p_txt4, .box5 .p_txt5, .box5 .p_txt6 {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.964vw;
}
.box5 p:nth-child(1), .box5 .p_txt4 p:nth-child(4) {
    margin: 0;
}

/* hover */
.box4 #skill_content1 .skill_img a:nth-of-type(1):hover {
    color: rgba(255, 153, 0, 0.5)
}
.box4 #skill_content1 .skill_img a:nth-of-type(1):hover span {
    color: rgba(49, 169, 255, 0.5);
}
.box4 #skill_content1 .skill_img a:nth-of-type(2):hover {
    color: rgba(255, 97, 247, 0.5);
}
.box4 #skill_content1 .skill_img a:nth-of-type(3):hover {
    color: rgba(155, 153, 255, 0.5);
}
.box4 #skill_content1 .skill_img a:nth-of-type(4):hover {
    color: rgba(0, 144, 144, 0.5);
}

.box4 #skill_content2 .skill_img a:nth-of-type(1):hover {
    color: rgba(255, 65, 18, 0.5);
}

.box4 #skill_content2 .skill_img a:nth-of-type(2):hover {
    color: rgba(0, 145, 241, 0.5);
}
.box4 #skill_content2 .skill_img a:nth-of-type(3):hover {
    color: rgba(19, 121, 144, 0.5);
}
.box4 #skill_content2 .skill_img a:nth-of-type(3):hover span {
    color: rgba(255, 179, 0, 0.5);
}

    


/* ****** 태블릿/모바일 ******* */
@media screen and (max-width:768px) {
    header #click1, header #click2 {
        display: none;
    }
    /* section 1 */
    .box1 h2 {
        width: 76.133vw;
        height: 13.333vw;
        transform: translate(-50%,-110%);
    }
    .box1 img {
        width: 67.760vw;
        transform: translate(-50%,-60%);
    }
    .box1 .main_txt {
        margin-top: 70vw;
    }
    .box1 h3:nth-of-type(1) {
        margin-bottom: 1.877vw;
    }
    .box1 h3 {
        font-size: 3.467vw;
    }

    /* section 2 */
    .content_box {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        flex-wrap: wrap;
    }
    .box2 .sub_txt {
        width: 76.133vw;
        align-items: flex-start;
        position: static;
        transform: none;
    }
    .box2 img {
        width: 74.133vw;
    }
    .box2 h2 {
        font-size: 8.800vw;
        top: 30.802vw;
        left: 18.656vw;
    }
    .box2 .txt1 {
        display: block;
        align-items: flex-end;
        margin-top: 35vw;
        position: static;
        transform: none;
    }
    .box2 .txt1 p {
        font-size: 3.733vw;
        float: right;
        position: static;
        letter-spacing: 0vw;
        margin-bottom: 3.555vw;
    }

    /* section 3 */
    .box3 .txt_box {
        position: static;
        margin: 30vw auto;
        transform: none;
    }
    .box3 .txt_box > h2 {
        font-size: 3.733vw;
        margin-bottom: 10.5vw;
    }
    .box3 .txt2_box h2, .box3 .txt3_box h2, .box3 .txt4_box h2 {
        font-size: 7.200vw;
    }
    .box3 h3 {
        font-size: 3.733vw;
    }
    .box3 p {
        font-size: 4vw;
    }
    .box3 .txt2 {
        margin-bottom: 12.588vw;
    }
    .box3 .txt3 {
        width: 79.375vw;
        float: none;
        margin-bottom: 18.188vw;
    }
    .box3 .txt3 .txt3_sbtitle {
        justify-content: flex-start;
    }
    .box3 .txt2 p, .box3 .txt3 p, .box3 .txt4 p {
        text-align: left;
        line-height: 1.5;
        width: 74.133vw;
    }
    .txt3_box {
        padding-left: 1.755vw;
        padding-right: 0;
    }

    /* section 4 */
    .box4 .title {
        display: none;
    }
    .box4 .txt5 {
        float: none;
        margin-top: 30.500vw;
    }
    .box4 .txt5 h2, .box4 .txt6 h2 {
        font-size: 5.333vw;
    }
    .box4 .txt5 > h3, .box4 .txt6 > h3 {
        font-size: 4vw;
    }
    .box4 p {
        font-size: 4vw;
    }
    .box4 #skill_content1 {
        width: 83.067vw;
        height: 20.667vw;
    }
    .box4 .skill_content .skill_img a {
        font-size: 4vw;
        line-height: 12.365vw;
        width: 12.365vw;
        height: 12.365vw;
    }
    .box4 #skill_content1 .skill_img a:nth-of-type(1) {
        width: 24.73vw;
        border-radius: 4.519vw;
    }
    .box4 #skill_content1 .skill_img a:nth-of-type(2) {
        left: 29.548vw;
    }
    .box4 #skill_content1 .skill_img a:nth-of-type(3) {
        left: 46.148vw;
    }
    .box4 #skill_content1 .skill_img a:nth-of-type(4) {
        left: 62.441vw;
    }
    .box4 .skill_content .click {
        display: none;
    }
    .box4 .txt6 {
        margin-left: 11.223vw;
        margin-top: 30.500vw;
        margin-bottom: 30.500vw;
    }
    .box4 #skill_content2 {
        width: 71.267vw;
        height: 20.156vw;
    }
    .box4 #skill_content2 .skill_img a:nth-of-type(1) {
        font-size: 3.733vw;
    }
    .box4 #skill_content2 .skill_img a:nth-of-type(2) {
        left: 19.848vw;
        font-size: 3.733vw;
    }
    .box4 #skill_content2 .skill_img a:nth-of-type(3) {
        width: 24.73vw;
        left: 38.748vw;
        border-radius: 4.519vw;
        font-size: 3.733vw;
    }
    .box4 .txt5 > p, .box4 .txt6 > p {
        width: 77.400vw;
        line-height: 1.5;
    }

    /* section 5 */
    .box5 .title {
        display: none;
    }
    .box5 h3 {
        background-color: transparent;
        color: #000;
        font-weight: 700;
        font-size: 3.467vw;
        float: none;
        width: auto;
        padding: 0;
        margin-bottom: 4vw;
    }
    .box5 .txt7 {
        margin-top: 30vw;
    }
    .box5 .txt7 h3 {
        color: #152bff;
        background-color: transparent;
    }
    .box5 .p_txt1, .box5 .p_txt2, .box5 .p_txt3, .box5 .p_txt4, .box5 .p_txt5, .box5 .p_txt6 {
        display: block;
        margin-bottom: 13.067vw;
        width: 76.600vw;
    }
    .box5 p {
        border: none;
        padding: 0;
        margin: 0;
        font-size: 3.733vw;
        height: auto;
        line-height: 1.5;
    }
}